<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lyy.mapper.TOrderMapper" >
  <resultMap id="BaseResultMap" type="com.example.lyy.entity.TOrder" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.lyy.entity.TOrder" extends="BaseResultMap" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="context_msg" property="contextMsg" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    order_id
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    context_msg
  </sql>
</mapper>