<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lyy.mapper.TPremFactorRelaMapper" >
  <resultMap id="BaseResultMap" type="com.example.lyy.entity.TPremFactorRela" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="factor_code" property="factorCode" jdbcType="VARCHAR" />
    <result column="fullpath_element" property="fullpathElement" jdbcType="VARCHAR" />
    <result column="risk_code" property="riskCode" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
  </resultMap>
</mapper>